@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

#output {
  border-style: inset;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

#output-box, #formTwo-box {
  display: none;
}

.money {
  text-align: right;
}

body {
  background-image: url(../img/fievel.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Gloria Hallelujah', cursive;

}

h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;

}

.jumbotron {
  background-color: #ffb366;
  color: green;


}

.panel-output {
  background-color: #804000;
  color: white;
}

.body-color {
border-color: #804000;
}

.panel {
  opacity: .80;
}
