#output {
  border-style: inset;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.money {
  text-align: right;
}

body {
  background-image: url(../img/fievel.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.panel-output {
  background-color: #804000;
  color: white;
}

.body-color {
border-color: #804000;
}

.panel {
  opacity: .80;
}
